#fourth {
  position: absolute;
  top: 500vh;
  height: 300vh;
  width: 100vw;
}

#fourthBorderOne {
  background: linear-gradient(
    var(--negAngle),
    #fff0,
    10%,
    #fff0,
    0%,
    var(--brown)
  );
  position: absolute;
  height: 100%;
  width: 100%;
}
#fourthBorderTwo {
  background: linear-gradient(
    var(--angle),
    #fff0,
    10%,
    #fff0,
    0%,
    var(--brown)
  );
  position: absolute;
  height: 100%;
  width: 100%;
}

#fourthBorderThree {
  background: var(--brown);
  position: absolute;
  top: 10vh;
  height: 100%;
  width: 100%;
}

#fourthContentOne {
  background: linear-gradient(
    var(--negAngle),
    #fff0,
    10%,
    #fff0,
    0%,
    var(--orange)
  );
  position: absolute;
  top: 1vw;
  height: 100%;
  width: 100%;
}

#fourthContentTwo {
  background: linear-gradient(
    var(--angle),
    #fff0,
    10%,
    #fff0,
    0%,
    var(--orange)
  );
  position: absolute;
  top: 1vw;
  height: 100%;
  width: 100%;
}

#fourthContentThree {
  background: var(--orange);
  position: absolute;
  top: calc(10vh + 1vw);
  height: 100%;
  width: 100%;
}

#fourthThree {
  position: absolute;
  top: 10vh;
  background: var(--orange);
  height: 290vh;
  width: 100vw;
}

#contactMeLoc{
  position: absolute;
  top: 70vh;
}

#contactMe{
  position: absolute;
  width: 100%;
  margin: auto;
  top: 10vh;
  color: var(--yellow);
  text-shadow: -0.4vw -0.1vw 0 var(--brown), 0.1vw -0.1vw 0 var(--brown),
    -0.1vw 0.1vw 0 var(--brown), 0.1vw 0.1vw 0 var(--brown);
  font-family: "Bangers", cursive;
  font-size: 5vw;
}

#contactMeInfo{
  position: absolute;
  width: 90%;
  height: 100vh;
  background: var(--yellow);
  /* border: .3vw solid var(--brown); */
  box-shadow: -.3vw -0.3vw 0 var(--brown), 0.3vw -0.3vw 0 var(--brown),
    -0.3vw 0.3vw 0 var(--brown), 0.3vw 0.3vw 0 var(--brown);
  margin: auto;
  top: 25vh;
  left: 5vw;
  color: var(--brown);
  font-family: 'Forum', cursive;
  font-size: 3vw;
}
