#third {
  position: absolute;
  top: 350vh;
  left: -100vw;
  height: 300vh;
  width: 100vw;
}
#thirdBorder {
  background: linear-gradient(
    var(--negAngle),
    #fff0,
    10%,
    #fff0,
    0%,
    var(--brown)
  );
  position: absolute;
  left: -1vw;
  height: 100%;
  width: 101%;
}

#thirdContent {
  background: linear-gradient(
    var(--negAngle),
    #fff0,
    10%,
    #fff0,
    0%,
    var(--purple)
  );
  position: absolute;
  top: 1vw;
  left: -1vw;
  height: 100%;
  width: 100%;
}
