#body {
  height: 390vh;
  overflow-x: hidden;
}

#gearBacker {
  position: absolute;
  height: 35.4vw;
  width: 25vw;
  top: calc(85vh + 2vw);
  left: -7vw;
  transform: rotate(45deg);
  border-radius: 75.1px;

  background: linear-gradient(-45deg, #fff0, 39.6%, #fff0, 0%, var(--brown));
  z-index: 0;
}

#gearBacker:after {
  content: "";
  position: absolute;
  height: 34.9vw;
  width: 24.5vw;
  top: 0.25vw;
  left: 0.25vw;
  border-radius: 75px;

  background: linear-gradient(-45deg,
      #fff0,
      40%,
      #fff0,
      0%,
      var(--veryLightSilver));
}

.gearOneWrapper {
  height: 30vh;
  width: 30vh;
  position: absolute;
  top: 50vh;
  transition-duration: 6s;
}

#gearOneWrapper1 {
  left: 20vw;
  fill: #c39953;
  stroke: #9c7c38;
}

#gearOneWrapper2 {
  left: 30vw;
  top: 38vh;
  transform: rotate(15deg);
  fill: #c39953;
  stroke: #9c7c38;
}

#gearOneWrapper3 {
  left: 60vw;
  fill: #c39953;
  stroke: #9c7c38;
}

.gearOne {
  stroke-width: 5;
}

.gearOneWrapper:hover {
  transform: rotatez(720deg);
}