#headerWrapper {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(var(--blue), #f6f4f300);
  user-select: none;
}

#header {
  color: var(--yellow);
  text-shadow: -0.4vw -0.1vw 0 var(--brown), 0.1vw -0.1vw 0 var(--brown),
    -0.1vw 0.1vw 0 var(--brown), 0.1vw 0.1vw 0 var(--brown);
  font-family: "Bangers", cursive;
  height: 92vh;
  display: flex;
  texttransition-duration: 0.5s;
}

#headerText {
  font-size: 7vw;
  margin: auto;
}

#headerText:hover {
}
.fancy {
  color: var(--red);
}
