@import url("https://fonts.googleapis.com/css?family=Bangers|Diplomata|Forum|Sigmar+One");
/* font-family: 'Diplomata', cursive;
font-family: 'Bangers', cursive;
font-family: 'Sigmar One', cursive; 
font-family: 'Forum', cursive; */

:root {
  --purple: #ab47bc;
  --blue: #448aff;
  --yellow: #f19a3e;
  --green: #04a641;
  --orange: #f55d3e;
  --red: #ff5252;
  --white: #f6f4f3;
  --black: #464655;
  --brown: #403233;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  font-family: "Forum", cursive;
  font-weight: 100;
  overflow: scroll;
  width: 100vw;
}
