@import url("https://fonts.googleapis.com/css?family=Bangers|Forum|Cinzel");
/* font-family: 'Bangers', cursive;
font-family: 'Forum', cursive; */

:root {
  --angle: 190deg;
  --negAngle: -190deg;
  --purple: #be78ca;
  --blue: #bbdefb;
  --yellow: #fff9c4;
  --green: #44c475;
  --aqua: #94d494;
  --orange: #fa7b62;
  --red: #ff5252;
  --white: #f6f4f3;
  --black: #464655;
  --brown: #403233;
  --grey: #cfd8dc;
  --bronze: #c39953;
  --darkBronze: #75561f;
  --lightSilver: #9ea0b1;
  --veryLightSilver: #b5b5b5;
  --silver: #959595;
  --darkSilver: #757575;
  --wood: #c59b5c;
  --clawTop: 215vh;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
  font-family: "Forum", cursive;
  font-weight: 100;
  width: 100vw;
}

#placeholder {
  background: red;
  position: absolute;
  top: -10vh;
  left: -10vw;
  height: 1vh;
  width: 1vw;
}

@media (max-aspect-ratio: 2/1) {
  :root {
    --angle: 192deg;
    --negAngle: -192deg;
  }
}

@media (max-aspect-ratio: 6/3) {
  :root {
    --angle: 194deg;
    --negAngle: -194deg;
  }
}

@media (max-aspect-ratio: 12/7) {
  :root {
    --angle: 196deg;
    --negAngle: -196deg;
  }
}

@media (max-aspect-ratio: 24/15) {
  :root {
    --angle: 198deg;
    --negAngle: -198deg;
  }
}

@media (max-aspect-ratio: 48/31) {
  :root {
    --angle: 200deg;
    --negAngle: -200deg;
  }
}

@media (max-aspect-ratio: 96/63) {
  :root {
    --angle: 200deg;
    --negAngle: -200deg;
  }
}

@media (max-aspect-ratio: 1/1) {
  :root {
    --angle: 205deg;
    --negAngle: -205deg;
    --clawTop: 225vh;
  }
}

@media (max-aspect-ratio: 4/5) {
  :root {
    --angle: 210deg;
    --negAngle: -210deg;
    --clawTop: 230vh;
  }
}

@media (max-aspect-ratio: 2/3) {
  :root {
    --angle: 212deg;
    --negAngle: -212deg;
    --clawTop: 235vh;
  }
}
